@bgcolor: #fefefe;

* {
  margin: 0;
  padding: 0;

  list-style: none;
}

body {
  width: 960px;
  margin: 60px auto;
  background-color: @bgcolor !important;
  text-align: center;
}

a {
  text-decoration: none;
}

section {

}

#kartApp {
  width: 900px;
  margin: 0px auto;
  background: #f7fcff;

}

.main-section {
  clear: both;
  display: block;
}

.main-section::after {
  display: block;
  clear: both;
  content: "";

}

.panel-custom {
  width: 808px;
  margin-right: 15px;
  .panel-default;
  .col-xs-9;
}

.product-unit {
  padding: 10px;
  margin-bottom: 10px;
img{
  max-width: 120px;
  max-height: 100px;
}
}

.kart-list {
  float: right;
  width: 205px;
  padding-top: 80px;
  padding-bottom: 15px;
  .product-item {
    margin-bottom: 15px;
  }
  ul {
    padding: 0;
    margin: 0;
    li {

    }
  }

  .total-console {
    clear: both;
    padding: 15px;
    font-weight: bold;
  }
}

header, footer {
  clear: both;
  display: block;
}

.btn-link-custom{
  .btn-link;
  cursor:pointer;
}


// just a less comment-
